/* Start */

position: relative;
width: 1194px;
height: 2874px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1194px;
height: 360px;
left: 0px;
top: 540px;

background: #FFFFFF;


/* Magnus Westerberg CD, CX, Concepts & Coaching */

position: absolute;
width: 951px;
height: 50px;
left: 121px;
top: 581px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #555555;



/* Rectangle 2 */

position: absolute;
width: 1216px;
height: 540px;
left: -22px;
top: 762px;

background: #E16EA7;


/* Rectangle 3 */

position: absolute;
width: 1216px;
height: 508px;
left: -22px;
top: 1809px;

background: #FBDD68;


/* image 2 */

position: absolute;
width: 674px;
height: 540px;
left: -22px;
top: 762px;

background: url(image.png);


/* IMG_0423 1 */

position: absolute;
width: 101px;
height: 132.69px;
left: 277px;
top: 939px;

background: url(IMG_0423.png);


/* Developing communications concepts and digital experiences with a built in competitive advantage */

position: absolute;
width: 465px;
height: 72px;
left: 704px;
top: 835px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;

color: #333333;



/* Long experience in leading cross-functional teams and transforming concept and CX development from phase based to continouos improvement */

position: absolute;
width: 522px;
height: 54px;
left: 597px;
top: 1931px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;

color: #333333;



/* Intro */

position: absolute;
width: 509px;
height: 65px;
left: 68px;
top: 1344px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;

color: #555555;



/* With almost twenty years experience of developing digital products and services, apps and communication, Magnus Westerberg has a Customer Experience perspective at the heart of every engagement. It doesn’t matter if it’s a game, a new brand experience, communication about a brand or a new product. In the digital world all successful concepts are built around experience. Blending the worlds of cinematic storytelling with great UX and design, Magnus Westerberg is always focusing on the team and the customer. */

position: absolute;
width: 770px;
height: 172px;
left: 68px;
top: 1437px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #333232;



/* image 4 */

position: absolute;
width: 952px;
height: 482px;
left: 121px;
top: 2403px;

background: url(image.png);


/* image 5 */

position: absolute;
width: 445px;
height: 428px;
left: 68px;
top: 1858px;

background: url(image.png);


/* image 14 */

position: absolute;
width: 196px;
height: 392.88px;
left: 905px;
top: 1369px;

background: url(image.png);


/* 22DCA2BB-DFEC-48E5-999F-44A6AC7B4F80 1 */

position: absolute;
width: 597px;
height: 589px;
left: 597px;
top: -28px;

background: url(22DCA2BB-DFEC-48E5-999F-44A6AC7B4F80.jpg);


/* Rectangle 31 */

position: absolute;
width: 597px;
height: 561px;
left: 0px;
top: 0px;

background: #E2E2E2;


/* Resume */

position: absolute;
width: 283px;
height: 76px;
left: 147px;
top: 138px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #838181;



/* CV */

position: absolute;
width: 306px;
height: 76px;
left: 147px;
top: 222px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #838181;



/* Mobile version */

position: absolute;
width: 552px;
height: 81px;
left: 147px;
top: 305px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #838181;



/* Group 15 */

position: absolute;
width: 25px;
height: 45.78px;
left: 1050px;
top: 1652px;



/* Rectangle 32 */

position: absolute;
width: 25px;
height: 45.78px;
left: 1050px;
top: 1652px;

background: #C4C4C4;


/* image 21 */

position: absolute;
width: 25px;
height: 53.5px;
left: 1050px;
top: 1653.02px;

background: url(image.png);


/* Rectangle 33 */

position: absolute;
width: 89px;
height: 15px;
left: 971px;
top: 1404px;

background: #727272;


/* nextversion.org */

position: absolute;
width: 80px;
height: 14px;
left: 972px;
top: 1406px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 11px;

color: #FEFEFE;



/* Want to see the resume? */

position: absolute;
width: 552px;
height: 63px;
left: 627px;
top: 2381px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;

color: #555555;



/* Screen Shot 2021-10-30 at 18.21 1 */

position: absolute;
width: 172px;
height: 282.57px;
left: 917px;
top: 1426px;

background: url(Screen Shot 2021-10-30 at 18.21.png);


/* Page 2 */

position: relative;
width: 1194px;
height: 3400px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1194px;
height: 360px;
left: 0px;
top: 540px;

background: #FFFFFF;


/* Group 13 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;



/* Rectangle 30 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;

background: #CEB3A2;


/* Claym your prototype! */

position: absolute;
width: 668px;
height: 72px;
left: 252px;
top: 316px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;
text-align: center;

color: #FFFFFF;



/* Want to see the Curiculum Vitae? */

position: absolute;
width: 1194px;
height: 115px;
left: 0px;
top: 3317px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #555555;



/* image 15 */

position: absolute;
width: 1194px;
height: 796.34px;
left: 0px;
top: 75px;

background: url(image.png);


/* Rectangle 2 */

position: absolute;
width: 1216px;
height: 497px;
left: -22px;
top: 661px;

background: #F2E0B1;


/* Rectangle 3 */

position: absolute;
width: 1216px;
height: 497px;
left: -22px;
top: 1855px;

background: #F2E0B1;


/* Group 14 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;



/* Rectangle 30 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;

background: #E5D4A8;


/* Solutions for reality */

position: absolute;
width: 668px;
height: 72px;
left: 252px;
top: 316px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;
text-align: center;

color: #555555;



/* image 22 */

position: absolute;
width: 1193px;
height: 671px;
left: 1px;
top: 1184px;

background: url(image.png);


/* CV 3 */

position: absolute;
width: 1196px;
height: 673px;
left: -2px;
top: 2103px;

background: url(CV.png);


/* Resume */

position: absolute;
width: 509px;
height: 65px;
left: 54px;
top: 720px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;

color: #555555;



/* Leading cross-functional teams in developing outstanding creative work has been the day to day of Magnus Westerberg for many years. Part inspirator, part facilitator and part coach is the role description most common. To develop great work, you help great people to grow. This also includes client participation. From facilitating large, creative workshops like Design Sprints and other formats to foster velocity and buy-in alike. To working with internal - or mixed - teams to help boost continuous innovation. */

position: absolute;
width: 770px;
height: 172px;
left: 54px;
top: 813px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #333232;



/* Rectangle 36 */

position: absolute;
width: 1194px;
height: 521px;
left: 0px;
top: 2777px;

background: #000000;


/* Screen Shot 2021-10-19 at 11.53 1 */

position: absolute;
width: 623px;
height: 389px;
left: 47px;
top: 2852px;

background: url(Screen Shot 2021-10-19 at 11.53.png);


/* For serveral years, Magnus Westerberg has been lecturing at the Royal Institute of Technology about Digital Transformation, MITx Stockholm School of Economics and Hyper Island This is a lecture from We Are Movement about how to develop hypotheses and validate them with customers using Design Sprints. Just click to play! */

position: absolute;
width: 394px;
height: 37px;
left: 731px;
top: 2885px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* First hired over to partner with CDPs then Executive Creative Director Indra Sinha, Magnus Westerberg after that was a Creative Director and partner at St. Luke’s in London. This was an excellent experience for the advisory work that followed in Silicon Valley and running UX and design teams in Berlin, Stockholm and London As Head of Creative Development at Tui Group. */

position: absolute;
width: 837px;
height: 74px;
left: 54px;
top: 1897px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #333232;



/* Group 12 */

position: absolute;
width: 1194px;
height: 111px;
left: 0px;
top: -5px;



/* Rectangle 29 */

position: absolute;
width: 1194px;
height: 80px;
left: 0px;
top: -5px;

background: #FFFFFF;


/* Resume */

position: absolute;
width: 1194px;
height: 90px;
left: 0px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #555555;



/* CV */

position: absolute;
width: 148px;
height: 38px;
left: 991px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: right;

color: #555555;



/* Intro */

position: absolute;
width: 148px;
height: 38px;
left: 54px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;

color: #555555;



/* Page 3 */

position: relative;
width: 1194px;
height: 3400px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1194px;
height: 360px;
left: 0px;
top: 540px;

background: #FFFFFF;


/* Ambulating designers, Monday and Tuesday is with Team X */

position: absolute;
width: 465px;
height: 72px;
left: 611px;
top: 705px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;

color: #111111;



/* Group 13 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;



/* Rectangle 30 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;

background: #E5D4A8;


/* Solutions from reality */

position: absolute;
width: 668px;
height: 72px;
left: 252px;
top: 316px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;
text-align: center;

color: #222222;



/* image 1 */

position: absolute;
width: 1194px;
height: 880.8px;
left: 0px;
top: -104px;

background: url(image.png);


/* Group 14 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;



/* Rectangle 30 */

position: absolute;
width: 730px;
height: 88px;
left: 223px;
top: 309px;

background: #CECFD5;


/* Creative Vitae */

position: absolute;
width: 668px;
height: 72px;
left: 252px;
top: 316px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 70px;
text-align: center;

color: #555555;



/* Rectangle 2 */

position: absolute;
width: 1217px;
height: 492px;
left: -23px;
top: 663px;

background: #529DB6;


/* image 19 */

position: absolute;
width: 1194px;
height: 747.61px;
left: 0px;
top: 2776px;

background: url(image.png);


/* Contact */

position: absolute;
width: 1194px;
height: 115px;
left: 0px;
top: 2956px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #111111;



/* Rectangle 34 */

position: absolute;
width: 644px;
height: 435px;
left: -29px;
top: 1280px;

background: #DCCEB6;


/* Rectangle 35 */

position: absolute;
width: 1194px;
height: 403px;
left: 0px;
top: 2373px;

background: #F7F7F7;


/* Previous CV version just had this photo  from Magnus’  bathroom */

position: absolute;
width: 500px;
height: 78px;
left: 97px;
top: 1386px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;

color: #333333;



/* BA in Communications from Berghs School of Communications and Screenwriting at UCLA */

position: absolute;
width: 554px;
height: 92px;
left: 562px;
top: 2497px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;

color: #333333;



/* CV 2 */

position: absolute;
width: 1201px;
height: 675.69px;
left: -4px;
top: 1728px;

background: url(CV.png);


/* image 23 */

position: absolute;
width: 381px;
height: 274px;
left: 104px;
top: 2442px;

background: url(image.png);


/* 92CBE049-62C4-4525-965C-CE0EAF602DBC */

position: absolute;
width: 1201px;
height: 616.16px;
left: 0px;
top: 632px;

background: url(92CBE049-62C4-4525-965C-CE0EAF602DBC.png);


/* 95D6333B-76C4-4FCC-AA7C-6AF2817CA36B 1 */

position: absolute;
width: 579px;
height: 435px;
left: 615px;
top: 1280px;

background: url(95D6333B-76C4-4FCC-AA7C-6AF2817CA36B.jpg);


/* Group 12 */

position: absolute;
width: 1194px;
height: 111px;
left: 0px;
top: -5px;



/* Rectangle 29 */

position: absolute;
width: 1194px;
height: 80px;
left: 0px;
top: -5px;

background: #FFFFFF;


/* CV */

position: absolute;
width: 1194px;
height: 90px;
left: 0px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #555555;



/* Intro */

position: absolute;
width: 148px;
height: 38px;
left: 1000px;
top: 23px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: right;

color: #555555;



/* Resume */

position: absolute;
width: 148px;
height: 38px;
left: 42px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;

color: #555555;



/* End Frame */

position: relative;
width: 1194px;
height: 620px;

background: #FFFFFF;


/* image 19 */

position: absolute;
width: 1194px;
height: 747.61px;
left: 0px;
top: 0px;

background: url(image.png);


/* Contact magnus.westerberg@gmail.com */

position: absolute;
width: 1194px;
height: 115px;
left: 0px;
top: 178px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #111111;



/* @magnusw Let’s talk! */

position: absolute;
width: 1194px;
height: 115px;
left: 0px;
top: 306px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #111111;
